@font-face {
    font-family: chagaan;
    src:url('./fonts/mchagaan.eot');
    src: url("./fonts/mchagaan.woff") format("woff");
    src: url("./fonts/mchagaan.woff") format("woff"),
    url("./fonts/mchagaan.ttf") format("truetype"),
    url('./fonts/mchagaan.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: iechagaan;
    src:url('./fonts/mchagaan.eot');
}
/*******内容页样式*********/
body {
	background:#fff;
	overflow-y: hidden;
	padding:0px;
	margin:0px;
	zoom:100%;
	font-size:18px;
	font-family:chagaan;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
textarea {
	unicode-bidi: bidi-override;
	direction: rtl;
	font-family: chagaan,BagaChagan;
}
input {
	unicode-bidi: bidi-override;
	direction: rtl;
	font-family: chagaan,BagaChagan;
}
select {
	unicode-bidi: bidi-override;
	direction: rtl;
	font-family: chagaan;
}
#main {
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	-ms-transform-origin:right top;
	-ms-transform:translate(-100%, 0px) rotate(270deg);
	-moz-transform-origin: right top;
	-moz-transform:translate(-100%, 0px) rotate(270deg);
	-o-transform-orign:right top;
	-o-transform: translate(-100%, 0px) rotate(270deg);
	-webkit-transform-origin: right top;
	-webkit-transform: translate(-100%, 0px) rotate(270deg);
}
#main * {
	unicode-bidi: bidi-override;
	direction: rtl;
	word-break:keep-all; 
	letter-spacing:-0.015em;
	font-family:chagaan;
}
#main .vimg {
    -webkit-transform: translate(100%, 0px) rotate(90deg) translate(0px, 0px);
    -webkit-transform-origin: left top;
    -ms-transform-origin:left top;
    -ms-transform:translate(100%, 0px) rotate(90deg) translate(0px, 0px);
    -moz-transform-origin: left top;
    -moz-transform:translate(100%, 0px) rotate(90deg) translate(0px, 0px);
    -o-transform-orign:left top;
    -o-transform: translate(100%, 0px) rotate(90deg) translate(0px, 0px);
}
#main .vvideo {
	-ms-transform-origin:left top;
	-ms-transform:translate(100%, 0px) rotate(90deg) translate(0px, -28px);
	-moz-transform-origin: left top;
	-moz-transform:translate(100%, 0px) rotate(90deg) translate(-250px, 0px);
	-o-transform-orign:left top;
	-o-transform: translate(100%, 0px) rotate(90deg) translate(0px, -28px);
	-webkit-transform-origin: left top;
	-webkit-transform: translate(100%, 0px) rotate(90deg) translate(-250px, 0px);
}
.ie-input {
	font-size:18px; 
	writing-mode:tb-rl; 
	white-space:nowrap; 
	font-family:menk-ie;
	unicode-bidi:normal;
}
.ie_all .rot-direc{
    transform: rotate(180deg); 
    unicode-bidi: bidi-override;
    direction: ltr !important;
}
.ie8 #main{
	writing-mode:tb-lr;
    font-family: iechagaan;
    letter-spacing:-0.015em;
}
.headfix{height:75px;background:url(./images/header-bg.png) repeat;}
.ie8 .headfix{width:78px;height:100%;background:url(./images/header-bg.png) repeat;}
.ie8 #home-page{
	width:43px;
	height:100%;
	padding:25px 0 0 0;
}
.ie8 #main *{
	direction:ltr;
}
.ie8 .ct-header{
    padding: 0 0 0 0;
}
.ie8 .ct-nav{
	height:100%;
	width:30px;
}
.ie8 .ct-nav li{
	width:20px;
	height:auto;
	border-bottom:1px solid #030303;
	padding:5px 0  5px 10px;
  float: left;
  writing-mode: tb-rl;
}
.ie8 #form-style{
	float:left;
	width:auto;
	margin:18px 0px 0px 10px;
}
.ie8 #search-box{
	width:25px;
	height:250px;
	writing-mode:tb-lr;
}
.ie8 #search-btn{/*submit*/
	background:url(./images/ie_search.jpg) no-repeat center;
  border:1px solid #abadb3;
	margin-left:3px;
	float:right;
}
/****返回首页****/
#home-page{
  position: relative;
	height:43px;
	padding-right: 25px;
	line-height: 40px;
	background:#0c509e;
}
.ff #home-page .mglc,.ff .ct-nav-box .mglc{
	-webkit-transform:none !important;
	transform:none !important;
}
.home-link{
	width:130px;
	color:#ffffff;
}
#home-page + .line1{
	background:#011c45;
}
/*悬停&点击时链接颜色*/
.home-link:hover{
	color:#ff6d17;
}
.home-link:active{
	color:white;
}

/****页头****/
.ct-header{
  padding: 0 0 0px 0;
	overflow:hidden;
}
/*左侧导航*/
.ct-nav{
	height:30px;
}
.ct-nav li{
	height:22px;
	float:right;
	border-left:1px solid #030303;
	padding:0 5px 0 5px;
}
.no-border{
	border:none !important;
}
.cat-nav a:hover{
	color:#C00;
}
.ct-nav a{
	  color:#CCCCCC;
}
.ct-nav a:hover{
    color:#d80000;
}
/*搜索框*/
#form-style{
	width:230px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ie8 #form-style{
    bottom:50px;
    top:auto;
}
#search-box{/*text*/
	color:#8a8888;
  margin-top:10px;
}
#search-btn{/*submit*/
	background:url(./images/search.jpg) no-repeat center;
  border:1px solid #abadb3;
  width:20px;
	height:20px;
}
/*内容块：上半部-窄，下半部-宽*/
 .ff .ct-content,.ie9 .ct-content,.ie10 .ct-content,.ie11 .ct-content{
	padding:30px 0 0 0;
	/*min-height:1225px;*/
	overflow:hidden;
	position:relative;
  margin: 0 0 0 0;
	background:#e3d5d6;
}
.ie8 .ct-content{
	 height:100%;
	padding:0 0 0 10px;
	/*min-width:1225px;*/
  overflow:hidden;
  margin: 0 10px 0 0;
	background:#e3d5d6;
}

/*选项卡*/
#tabs{
   width: 171px;
   height: 31px;
   overflow: hidden;
}
.ie8 #tabs{
    height: 171px;
    width: 32px;
}
#tabs li{
    width: auto;
    height: 29px;
    float: right;
}
.ie8 #tabs li{
    width:29px;
    height: auto;
    float: left;
}
#tabs li a{
    padding: 0 13px;
}
.ie8 #tabs li a{
    padding: 13px 0;
}
.active{
   background: #fff;
   border: 1px solid #ddd;
}
.active a{
    color: #d80000;
}
.active2{
    background:#fe0303;
}
.active2 a{
    color: #fff !important;
}
#tab-content-box li{
   background: url(../../images/mglportal_images/ct/square-red.jpg) no-repeat 100% 8px;
   padding: 0 10px 0 5px;
   margin: 12px 0 12px 0;
   line-height: 20px;
}

.ie8 #tab-content-box li{
    background:url(../../images/mglportal_images/ct/square-red.jpg) no-repeat 8px 0% ;
    padding:10px 0 0 0;
    margin:0 12px 0 12px;
}


/*热门搜索*/
.hottest{
	width:100%;
	height:auto;
}
.hot-news{
    height: /*299px*/auto;
    width: 100%;
    padding: 10px 0 0 0;
}
.ie8 .hot-news{
    padding: 0 0 0 10px;
}
.hottest p{
    color:#d80000;
}
.hot-news li{
    background: url(../../images/mglportal_images/ct/square.gif) no-repeat 100% 8px;
    padding: 0 10px 0 5px;
    margin: 12px 0 12px 0;
    line-height: 20px;
}
.ie8 .hot-news li{
    background:url(../../images/mglportal_images/ct/square.gif) no-repeat 8px 0% ;
    padding:10px 0 0 0;
    margin:0 12px 0 12px;
}
.h-search li{
	background:url(../../images/mglportal_images/ct/square.gif) no-repeat 100% 8px ;
}
.h-search a{
	color:#515151;
}
.h-search a:hover{
    color: #d80000;
}
.ie8 .hottest{
	width:auto;
	height:100%;
}
.ie8 .h-search li{
	background:url(../../images/mglportal_images/ct/square.gif) no-repeat 8px 0% ;
}
/**下-宽**/
.ff .ct-wide,.ie9 .ct-wide,.ie10 .ct-wide,.ie11 .ct-wide{
	width:-webkit-calc(100% - 0px);
	width:-moz-calc(100% - 0px);
	width:calc(100% - 0px);
	float:right;
	overflow:hidden;
	position:relative;
}
.ie8 .ct-wide{
	float:left;
  height: auto;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
	height:100%;
}
/*正文*/
.content{
	width:100%;
	height:auto;
  margin-top:30px;
}
.ie8 .content{
	float:left;
	min-height:100%;
  margin-top:0px;
  margin-left:30px;
}
/*标题*/
.content .content-title{
	width:100%;
	height:150px;
	text-align:center;
  font-size: 32px;
  text-shadow: 0 2px #CCCCCC;
	text-indent:1.5em;
	margin:0px 10px 0px 10px;
}
.ie8 .content .content-title{
	width:150px;
	height:90%;
  font-size: 32px;
	text-align:justify;
	text-indent:1.5em;
	margin:20px 0px 0px 0px;
}
/*信息*/
.content .content-info{
	text-align:left;
	width:100%;
	height:30px;
	margin:10px 0px 10px 0px;
  color:#888;
  background: #e9eaec;
}
.content .content-info em{
	margin:0px 0px 0px 10px;
}
.ie8 .content .content-info{
 	width:30px;
	height:95%;
	margin:0px 10px 0px 10px;
  color:#888;
  text-align:right;
	padding:0px 0px 40px 0px;
}
.ie8 .content .content-info em{
  	margin-top:300px;
}
/*图片*/
.pic{
	width:470px;
	height:750px;
  position: relative;
}
.ie8 .pic{
	width:750px;
	height:470px;
}
/*文章内容*/
.content-text{
	margin:0px 10px 0px 0px;
	padding:0 0 0 15px;
    text-indent: 1em;
    text-align: justify;
}
.content-text img {
    -webkit-transform: translate(100%, 0px) rotate(90deg) translate(0px, 0px);
    -webkit-transform-origin: left top;
    -ms-transform-origin:left top;
    -ms-transform:translate(100%, 0px) rotate(90deg) translate(0px, 0px);
    -moz-transform-origin: left top;
    -moz-transform:translate(100%, 0px) rotate(90deg) translate(0px, 0px);
    -o-transform-orign:left top;
    -o-transform: translate(100%, 0px) rotate(90deg) translate(0px, 0px);
}
.content-text p{
	text-indent:1em;
}
.ie8 .content-text{
	margin:0 50px 0 35px;
	padding:10px 0 15px 0 ;
}
.ie8 #bolu-follow-wrap-0, .ie8 #bolu-follow-wrap-1, .ie8 #bolu-follow-wrap-2, .ie8 #bolu-follow-wrap-3, .ie8 #bolu-follow-wrap-4{
    margin: 0 160px 0 0;
}
/*来源*/
.tag-author-box{
	text-align:left;
	padding:0 0 0 30px;
	margin:0 0 50px 0;
}
.ie8 .tag-author-box{
	text-align:right;
	padding:0 0 40px 0 ;
	margin:0 60px 0 0;
}
.ct-wide .line5{
	width:100%;
	height:auto;
	background:#242424;
}
.ie8 .ct-wide .line5{
	height:100% ;
	width:auto;
	float:left;
}
/*参与度排行*/
.p-r{
	height:640px;
	width:100%;
	padding:10px 0px 10px 0px;
	overflow:hidden;
}
.p-r .cate{
  float:right;
}
.p-r .cate .cate-box{
    width:100%;
}
.p-r a:hover{
    color:#0984C2;
}
.p-r h3{
	margin:10px 10px 0px 0px;
  width:100%; 
}
.p-r ul{
    color: #050505;  
	  overflow:hidden;
}
.p-r li{
	float:right;
  width:130px; 
  height:230px;
  margin:20px 10px 0px 0px;
}
/*标签*/
.ct-tag{
	margin:0 0 0 187px;
}
.ct-tag a{
	color:#4d91b3;
}
.ct-tag a:hover{
    color:#d80000;
}
/*社交分享*/
.share{
}
.ie8 .p-r{
	height:100%;
	width:640px;
	padding:0px 10px 0px 10px;
  overflow:hidden;
}
.ie8 .p-r .cate{
	float:left;
}
.ie8 .p-r h3{
	margin:10 10px 0 0;
}
.ie8 .p-r {
	float:left;	
}
.ie8 .p-r li{
	float:right;
  width:230px; 
  height:130px;
  margin:20px 20px 0px 0px;
}
.ie8 .ct-tag{
	margin:0 0 0 20px;
}
.ie8 .share a{
}

/*提交按钮*/
.submit-btn{

}
.ie8 .comment{
	//width:500px;
	height:100%;
	padding:0 0 0 10px;
	float:left;
}
.ie8 .comment form{
	height:100%;
}
.ie8 .comm-area{
	unicode-bidi:bidi-override;
	direction:rtl;
	font-family:chagaan;
        -ms-writing-mode: vertical-lr !important;
	height: 98%;
	width: 160px;
	display: block;
	overflow-y: auto;
	padding: 5px;
	font-size: 21px;
	line-height: 25px;
	cursor: text;
	outline: none;
	border:1px solid #ddd;
	background: #fff;
}
.ie8 .submit-btn{
}
/*图片2*/
.pic-2{
	width:100%;
	height:315px;
	margin:80px 0 0 0;
	overflow:hidden;
	position:relative;/* ie7 */
}
.pic-2 li{
	width:158px;
	height:315px;
	float:right;
	overflow: hidden;
	line-height: 16px;
	position: relative;
	margin:0 0 0 20px;
}
.pic-2 li p{
	float: right;
	background: #434141;
	padding: 5px;
        margin: 93px 0 0 0;
}
.pic-2 li a{
	color:#fff;
}
.pic-2 img{
    -webkit-transform: translate(100%, 0px) rotate(90deg) translate(0px, 0px);
    -webkit-transform-origin: left top;
    -ms-transform-origin:left top;
    -ms-transform:translate(100%, 0px) rotate(90deg) translate(0px, 0px);
    -moz-transform-origin: left top;
    -moz-transform:translate(100%, 0px) rotate(90deg) translate(0px, 0px);
    -o-transform-orign:left top;
    -o-transform: translate(100%, 0px) rotate(90deg) translate(0px, 0px);
}
.ie8 .pic-2{
	height:100%;
	width:315px;
	float:left;
	margin:0 0 0 80px;
}
.ie8 .pic-2 li{
	height:158px;
	width:315px;
	float:left;
	overflow: hidden;
	line-height: 16px;
	position: relative;
	margin:0 0 20px 0;
}
.ie8 .pic-2 li p{
	float: left;
	background: #434141;
        margin: 0;
}
/*副导航*/
.margin{
    margin: 50px 0 0 0;
}
.ie8 .margin{
       margin:0 0 0 50px;
}
.sub-nav-box{
	width:100%;
	height:auto;
	position:relative;
}
.sub-nav-box img{
    -webkit-transform: rotate(90deg) translate(100%,0%);
    -webkit-transform-origin: right top;
    -ms-transform-origin:left top;
    -ms-transform:translate(100%, 0px) rotate(90deg);
    -moz-transform-origin: right top;
    -moz-transform:translate(100%, 0px) rotate(90deg);
    -o-transform-orign:right top;
    -o-transform: translate(100%, 0px) rotate(90deg);
}
.sub-nav {
    position: absolute;
    right:10px;
    top:-100px;
}
.sub-nav a{
    color: #050505;
}
.ie8 .sub-nav{
    top:10px;
    left:-20px;
    right:0px;
}
.sub-nav li{
	width:auto;
	height:20px;
	font-size:20px;
	float:right;
	padding:30px 10px 15px 10px;
	white-space:nowrap;
}
.news-box{
	width:100%;
	height:315px;
	clear:right;
	margin:30px 0 0 0;
  overflow: hidden;
}
.news-box ul a:hover{
    color:#d80000;
}
.pic-3{
	width:158px;
	height:auto;
	float:right;
	overflow: hidden;
	line-height: 16px;
	position: relative;
	margin:0 0 0 20px;
        background: #434141;
}
.pic-3 p{
	float: right;
	background: #434141;
	padding: 10px;
        color: white;
        margin: 95px 0 0 0;
} 
.pic-3 a{
	color:#fff;
}

.ie8 .sub-nav-box{
	height:100%;
	width:435px;
	float:left;
}
.ie8 .sub-nav-box .line5{
	height:100%;
	width:5px;
	top:0px;
	left:15px;
}
.ie8 .sub-nav li{
	height:auto;
	width:20px;
	float:left;
	padding:7px 10px 7px 30px;
}
.ie8 .news-box{
	height:auto;
	width:315px;
	clear:left;
	margin:0 0 0 30px;
}
.ie8 .pic-3{
	height:158px;
	width:auto;
	float:left;
	overflow: hidden;
	line-height: 16px;
	position: relative;
	margin:0 0 20px 0;
}
.ie8 .pic-3 p{
	float: left;
	background: #434141;
        margin: 0;
}
/****页脚导航****/
.ct-footer-nav{
	width:100%;
	height:170px;
}
.ct-footer-nav a:hover{
    color:#d80000;
}
#ct-wp .line5{
	background:#1b1a1a;
	height:5px;
	width:100%;
	border-top:1px solid #979797;
}
#ct-wp .line1{
	margin:3px 0 0 0;
	background:#979797;
}
.ie8 .ct-footer-nav{
	height:100%;
	width:170px;
}
.ie8 #ct-wp .line5{
	height:100%;
	width:5px;
	background:#1b1a1a;
	border-top:none;
	border-left:1px solid #979797;
}
.ie8 #ct-wp .line1{
	margin:0 0 0 3px;
	height:100%;
	width:1px;
}
/*导航分栏*/
.four-sec{
	width:20%;
	height:170px;
	background:#f8f8f8;
	float:right;
}
.h-line{
	width:1px;
	height:100%;
	background:#ddd;
	float:right;
}
#ct-wp .other-margin{
	margin:0;
}
.ft-nav{
	padding:20px 20px 0 0;
}
.ft-nav a{
	color:#050505;
}
.ft-nav ul{
    padding: 10px 5px 0 0;
}
.ft-nav ul li{
  height:25px;
	width:100%;
  float:right;
  overflow: hidden;
}
.ie8 .ft-nav ul{
    padding: 5px 0 0 10px;
}
.ie8 .ft-nav ul li{
  height:100%;
	width:25px;
  float:float;
  overflow: hidden;
}
.ie8 .four-sec{
	height:20%;
	width:170px;
	background:#f8f8f8;
	float:left;	
}
.ie8 .h-line{
	height:1px;
	width:100%;
	background:#ddd;
	float:left;
}
.ie8 #ct-wp .other-margin{
	margin:0;
}
.ie8 .ft-nav{
	padding:20px 0 0 20px;
}
/****页脚****/
.ct-footer{
	margin:3px 0 0 0;
	background:#f8f8f8;
}
.copyright{
	padding:10px 25px 10px 0;
        background: #333;
        color:#fff;
}
.ie8 .ct-footer{
	margin:0 0 0 3px;
	background:#f8f8f8;
}
.ie8 .copyright{
	padding:25px 10px 0px 10px;
}

/*图片新闻标题*/
.pic-news-title{
    display: block;
    color: #888;
    position: absolute;
    top: 650px;
    text-indent: 1.5em;
    padding: 15px 10px 10px 10px;
}
.ie8 .pic-news-title{
    top: 0;
    left:650px;
    padding: 10px 10px 10px 15px
}

/*
 *  lists CSS
*/
body{background-color: #fff;}

.public-left{float: left;}
.ie8  .public-left{float: right;}
.public-right{float: right;}
.ie8  .public-right{float: left}
.textl{text-align: left;}
.ie8  .textl{text-align: right}
.mr20{margin-right: 20px;}
.ie8  .mr20{margin-top: 20px;margin-right: auto}
.pdl13{padding-left: 13px;}
.ie8  .pdl13{padding-bottom: 13px;}
.fs20{font-size: 20px;float: left;}
.ie8  .fs20{font-size: 20px;margin-top:350px;}
.fz20{font-size: 20px;float: right;}
.ie8  .fz20{font-size: 20px;}

.category-title-list{
    border: solid 1px #ccc;
    margin:0 0 20px 2px;
    border-top: none;
}
.ff .category-title-list{
}
.ie8  .category-title-list{
    border-bottom: none;
}
.ie8  .category-title-list{margin: 0 20px 2px 0;}
.category-title-list .title{
    background: none repeat scroll 0 0 #01AEF0;
    color: #FFFFFF;
    font-size: 18px;
}
.ie8  .img-wrap{clear:both;}
.ie8  .category-title-list .title{margin: -5px 0 -5px -11px;}
.list-menu li {}
.ie8  .list-menu li{}
.list-menu li a {color: #000000;display: block;border-top: solid 1px #ededed;padding-top: 3px;padding-bottom: 3px;padding-right: 9px;}
.ie8  .list-menu li a{border-right: solid 1px #EDEDED;border-bottom:none;padding-left: 3px;padding-right: 3px;padding-top: 9px;padding-bottom: 0;}
.list-menu .sub-menu { margin-right: 20px;border-right: 1px solid #EDEDED}

.news-block {margin-bottom: 36px;padding: 5px;border-radius: 5px;}
.ie8  .news-block{margin-right: 36px;margin-bottom:0px;}
.news-box{height:265px;width:100%;background:#fff;}
.ie8  .news-box{height:100%;width:265px;margin-top:30px;background:#fff;}
.news-title{text-align:center;font-size:25px;word-break:keep-all;text-shadow: 0 2px #CCCCCC;height:263px;width:100px;float:right;}
.ie8  .news-title{padding:15px 5px 15px 5px;height:120px;width:253px;float:left;}
.news-box .news-description{margin-right:10px;text-indent: 1.5em;font-size:19px;cursor: pointer;text-align:justify;height:263px;width:150px;float:right;}
.ie8  .news-box .news-description{margin-top: 10px;text-indent: 1.5em;font-size: 19px;text-align:justify;height:150px;width:253px;float: left;}
.news-box .news-thumb{margin-right:10px;float:right;}
.ie8  .news-box .news-thumb{margin-top: 10px;text-indent: 0.3em;float: left;}
.news-box .news-more{background: #e9eaec;margin-right:10px;cursor: pointer;height:263px;width:60px;border: solid 1px #ededed;float:right;}
.ie8  .news-box .news-more{margin-top:10px;height:80px;width:263px;border: solid 1px #ededed;float: left;}

/*分页*/
.pager{background: #e9eaec;height: 36px;margin-top: 30px;cursor: pointer;}
.ie8  .pager{width: 36px;height: auto;margin-left: 30px;margin-right: 30px;margin-top: auto;}
/****/
.news-info {margin-bottom: 20px;color: #999;height:30px;width: 500px;}
.news-info span{float:left;}
.ie8  .news-info{margin-right:2px;color: #999;height:auto;width:30px;}
.cursor{cursor: pointer;text-align: justify;line-height: 21px;}
.list-menu .selected {background-color: #EBEBEB;}
.list-menu .selected a{color: #0093D0}
.pointer {cursor: pointer;}