@charset "utf-8";
/* CSS Document */
@font-face {
	src: url(../../font/MenksoftQagan_cn.ttf);
	font-family: "MenksoftQagan";
}

body {
	background: url(../img/arv_y.jpg);
	padding: 0;
	margin: 0;
	font-family: "MenksoftQagan ";
}

.m0a {
	margin: 0 auto;
}

.wrp {
	width: 1000px;
}

.cls {
	clear: both
}

a img {
	border: none;
}