@font-face {
	font-family: Mongol;
	src: url(../../font/Mongol.woff) format("woff"), url(../../font/Mongol.ttf)
		format("truetype");
}

* {
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
}

html {
/* 	background-color: #3aace8; */
}

.wrap {
	width: 100%;
	height: 100%;
	min-width: 320px;
	height: 1346px;
}

.header {
	text-align: center;
	background: #3aace8;
	border-bottom: #50cff3 solid 2px;
	height: 60px;
}

.main {
	width: 100%;
	background-color: #fff;
/* 	height: 1284px; */
    height:100%
	min-height: 350px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.condiv {
	-ms-transform-origin: right top;
	-ms-transform: translate(-100%, 0px) rotate(270deg);
	-moz-transform-origin: right top;
	-moz-transform: translate(-100%, 0px) rotate(270deg);
	-o-transform-orign: right top;
	-o-transform: translate(-100%, 0px) rotate(270deg);
	-webkit-transform-origin: right top;
	-webkit-transform: translate(-100%, 0px) rotate(270deg);
	height: 100%;
}

.condiv * {
	direction: rtl;
	font-family: Mongol;
	line-height: 25px;
	unicode-bidi: bidi-override;
	word-break: keep-all;
	line-height: 27px;
	text-justify: auto;
	text-align: justify;
	font-size: 1.5rem;
}

.con {
	width: 100%;
}


.con * {
	margin-top: 5px;
	text-indent: 1.2rem;
}

.con h1 {
	border-bottom: 1px double #ccc;
	font-size: 1.5rem;
	padding: 0.5rem;
}

.con h2 {
	font-size: 1rem;
	margin-bottom: 32px;
	font-weight: normal;
	color: #666;
}

.conimg img {
	-ms-transform-origin: left top;
	-ms-transform: translate(100%, 0%) rotate(90deg);
	-moz-transform-origin: left top;
	-moz-transform: translate(100%, 0%) rotate(90deg);
	-o-transform-orign: left top;
	-o-transform: translate(100%, 0%) rotate(90deg);
	-webkit-transform-origin: left top;
	-webkit-transform: translate(100%, 0%) rotate(90deg);
}

.conimg p {
	margin-top: 10px;
}

.footer {
	font-size: 1.5rem;
	margin-top: 24px;
/* 	background: url(mobile-css/bg.jpg); */
	-moz-box-shadow: 3px 3px 15px #000;
	-webkit-box-shadow: 3px 3px 15px #000;
	box-shadow: 3px 3px 15px #000;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-right: 10px;
}

.footer h1 {
	border: none;
	text-indent: 0px;
}

.content {
	overflow: hidden;
}